<%- include ("../layouts/dashboard/header") %>

<main class="pt-5">
    <div class="container w-100">
        <div class="row my-5">
            <div class="col-12">
                <div class="send_product_form_container">
                    <div class="card">
                        <div class="card-body">

                            <% if ( sessionFlash && sessionFlash.type == 'addSuccessMsg') { %>
                                <script type="text/javascript">
                                    jQuery(document).ready(function () {
                                        toastr.options = {
                                            "closeButton": false,
                                            "debug": false,
                                            "newestOnTop": false,
                                            "progressBar": true,
                                            "positionClass": "md-toast-bottom-left",
                                            "preventDuplicates": false,
                                            "onclick": null,
                                            "showDuration": 300,
                                            "hideDuration": 1000,
                                            "timeOut": 5000,
                                            "extendedTimeOut": 1000,
                                            "showEasing": "swing",
                                            "hideEasing": "linear",
                                            "showMethod": "fadeIn",
                                            "hideMethod": "fadeOut"
                                        };
                                        toastr.success(addSuccessMsg);
                                    });
                                </script>
                            <% } %>
                            <% if ( sessionFlash && sessionFlash.type == 'addErrorMsg') { %>
                                <script type="text/javascript">
                                    jQuery(document).ready(function () {
                                        toastr.options = {
                                            "closeButton": false,
                                            "debug": false,
                                            "newestOnTop": false,
                                            "progressBar": true,
                                            "positionClass": "md-toast-bottom-left",
                                            "preventDuplicates": false,
                                            "onclick": null,
                                            "showDuration": 300,
                                            "hideDuration": 1000,
                                            "timeOut": 5000,
                                            "extendedTimeOut": 1000,
                                            "showEasing": "swing",
                                            "hideEasing": "linear",
                                            "showMethod": "fadeIn",
                                            "hideMethod": "fadeOut"
                                        };
                                        toastr.error(addErrorMsg);
                                    });
                                </script>
                            <% } %>

                            <form action="/products/add" method="post" class="md-form send_product_frm" id="send_product_form"
                                  novalidate enctype="multipart/form-data">
                                <fieldset class="mb-5">
                                    <h5 class="form_title text-center">ارسال محصول جدید</h5>
                                </fieldset>
                                <div class="form-row">
                                    <div class="col-md-6 col-sm-12 mb-4 required">
                                        <label for="partnumber">شماره قطعه</label>
                                        <input type="text" class="form-control" id="partnumber" name="partnumber" required
                                        value="<%= old_values.partnumber %>">
                                        <% if (validation_errors.length != 0 && validation_errors.partnumber != null){ %>
                                            <div class="error-feedback" style="display: block;">
                                                <span><%= validation_errors.partnumber %></span>
                                            </div>
                                        <% } %>
                                    </div>
                                    <div class="col-md-6 col-sm-12 mb-4 required">
                                        <label for="description">توضیحات قطعه</label>
                                        <input type="text" class="form-control" id="description" name="description" required value="<%= old_values.description %>">
                                        <% if (validation_errors.length != 0 && validation_errors.description != null){ %>
                                            <div class="error-feedback" style="display: block;">
                                                <span><%= validation_errors.description %></span>
                                            </div>
                                        <% } %>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-12 mb-4">
                                        <label for="detaileddescription">توصیف همراه با جزئیات</label>
                                        <input type="text" class="form-control" id="detaileddescription" name="detaileddescription">
                                    </div>
                                </div>

                                <div class="add_image_fieldset">
                                    <a class="btn-floating btn-sm deep-purple" id="add_image_input" data-toggle="tooltip"
                                       title="افزودن تصویر">
                                        <i class="material-icons align-middle">add</i>
                                    </a>
                                    <h6 class="text-right font-weight-bold">تصویر قطعه</h6>
                                </div>
                                <div class="addImage">
                                    <div class="col-12 my-2">
                                        <div class="file-field col-12">
                                            <div class="btn purple-gradient btn-sm float-left">
                                                <span><i class="material-icons">image</i></span>
                                                <input type="file" name="part_image" accept="image/*">
                                            </div>
                                            <div class="file-path-wrapper">
                                                <input class="file-path validate" type="text" placeholder="آپلود تصویر">
                                            </div>
                                        </div>
                                    </div>
                                    <% if (validation_errors.length != 0 && validation_errors.part_image != null){ %>
                                        <div class="error-feedback" style="display: block;">
                                            <span><%= validation_errors.part_image %></span>
                                        </div>
                                    <% } %>
                                </div>

                                <div class="add_document_fieldset">
                                    <a class="btn-floating btn-sm deep-purple" id="add_doc_input" data-toggle="tooltip"
                                       title="افزودن سند">
                                        <i class="material-icons align-middle">add</i>
                                    </a>
                                    <h6 class="text-right font-weight-bold">اسناد</h6>
                                </div>
                                <div class="addDocument">
                                    <div class="col-12 my-2">
                                        <div class="form-row">
                                            <div class="col-md-6 col-sm-12 mb-4">
                                                <label for="Doc_type">نوع سند </label>
                                                <input type="text" class="form-control docType" id="Doc_type" name="docType" required>
                                            </div>
                                            <div class="col-md-6 col-sm-12 mb-4">
                                                <label for="Doc_name">نام سند </label>
                                                <input type="text" class="form-control" id="Doc_name" name="docName" required>
                                            </div>
                                            <div class="file-field col-12">
                                                <div class="btn btn-md purple-gradient btn-sm float-left">
                                                    <span><i class="material-icons">attach_file</i></span>
                                                    <input type="file" id="Doc_url" name="docUrl" accept="application/pdf">
                                                </div>
                                                <div class="file-path-wrapper">
                                                    <input class="file-path validate" type="text" placeholder="آپلود فایل" >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% if (validation_errors.length != 0 && validation_errors.docUrl != null){ %>
                                        <div class="error-feedback" style="display: block;">
                                            <span><%= validation_errors.docUrl %></span>
                                        </div>
                                    <% } %>
                                </div>

                                <div class="add_spec_fieldset">
                                    <a class="btn-floating btn-sm deep-purple" id="add_spec_input" data-toggle="tooltip"
                                       title="افزودن ویژگی">
                                        <i class="material-icons align-middle">add</i>
                                    </a>
                                    <h6 class="text-right font-weight-bold">ویژگی های قطعه</h6>
                                </div>
                                <div class="addAttrib">
                                    <div class="col-12 my-2">
                                        <div class="form-row">
                                            <div class="col-md-6 col-sm-12 mb-4">
                                                <label for="Attribute_name">عنوان ویژگی</label>
                                                <input type="text" class="form-control" id="Attribute_name" name="attribNames" required>
                                            </div>
                                            <div class="col-md-6 col-sm-12 mb-4">
                                                <label for="Attribute_value">مقدار ویژگی</label>
                                                <input type="text" class="form-control" id="Attribute_value" name="attribValues" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row my-4">
                                    <button type="submit" class="btn blue-gradient btn-block waves-effect submit" name="btn_send_product" id="send_product_frm_submit">
                                        ثبت <i class="material-icons align-middle">refresh</i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<%- include ("../layouts/dashboard/footer") %>


