<%- include ("../layouts/dashboard/header") %>

<main class="pt-5">
    <div class="container w-100">
        <div class="row my-5">
            <div class="col-12">
                <div class="send_product_form_container">
                    <div class="card">
                        <div class="card-body">
                            <% if ( sessionFlash && sessionFlash.message) { %>
                                <div class="alert alert-<%= sessionFlash.type %>">
                                    <%= sessionFlash.message %>
                                </div>
                            <% } %>

                            <% if (typeof validation_errors !== 'undefined' && validation_errors.length > 0){ %>
                                <ul class="errors">
                                    <% validation_errors.forEach(function (error) { %>
                                        <li><%= error.msg  %></li>
                                    <% }) %>
                                </ul>
                            <% } %>

                            <form action="/products/add" method="post" class="send_product_frm" novalidate enctype="multipart/form-data">
                                <fieldset class="mb-5">
                                    <h5 class="text-center">ارسال محصول جدید</h5>
                                </fieldset>
                                <div class="form-row">
                                    <div class="col-12 mb-4 required">
                                        <label for="partnumber">شماره قطعه</label>
                                        <input type="text" class="form-control" id="partnumber" name="partnumber" required>
                                        <div class="invalid-feedback">
                                            <span>لطفا نام خود را وارد کنید</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-12 mb-4 required">
                                        <label for="description">توضیحات قطعه</label>
                                        <input type="text" class="form-control" id="description" name="description" required>
                                        <div class="invalid-feedback">
                                            <span>لطفا نام خود را وارد کنید</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-12 mb-4">
                                        <label for="detaileddescription">توصیف همراه با جزئیات</label>
                                        <input type="text" class="form-control" id="detaileddescription" name="detaileddescription">
                                        <div class="invalid-feedback">
                                            <span>لطفا نام خود را وارد کنید</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="add_image_fieldset" style="position: relative;">
                                    <fieldset class="mb-2">
                                        <h6 class="text-right font-weight-bold">تصویر قطعه</h6>
                                        <button type="button" class="btn btn-info rounded-circle" data-toggle="tooltip" data-placement="bottom" title="افزودن تصویر"
                                                id="add_image_input" style="width:50px ;height: 50px;">
                                            <i class="material-icons align-middle">add</i>
                                        </button>
                                    </fieldset>
                                    <div class="form-row addImage">
                                        <div class="col-12 mb-4">
                                            <label for="file">تصویر</label>
                                            <input type="file" class="form-control images" id="Image" name="part_image" accept="image/*">
                                        </div>
                                    </div>
                                </div>
                                <div class="add_document_fieldset" style="position: relative;">
                                    <fieldset class="mb-2">
                                        <h6 class="text-right font-weight-bold">اسناد</h6>
                                        <button type="button" class="btn btn-info rounded-circle" data-toggle="tooltip" data-placement="bottom" title="افزودن سند"
                                                id="add_doc_input" style="width:50px ;height: 50px;">
                                            <i class="material-icons align-middle">add</i>
                                        </button>
                                    </fieldset>
                                    <div class="form-row addDocument">
                                        <div class="col-md-4 col-sm-12 mb-4">
                                            <label for="Doc_type">نوع سند </label>
                                            <input type="text" class="form-control docType" id="Doc_type" name="docType" required>
                                        </div>
                                        <div class="col-md-4 col-sm-12 mb-4">
                                            <label for="Doc_name">نام سند </label>
                                            <input type="text" class="form-control" id="Doc_name" name="docName" required>
                                        </div>
                                        <div class="col-md-4 col-sm-12 mb-4">
                                            <label for="Doc_url">فایل سند </label>
                                            <input type="file" class="form-control" id="Doc_url" name="docUrl" required accept="application/pdf">
                                        </div>
                                    </div>
                                </div>
                                <div class="add_spec_fieldset" style="position: relative;">
                                    <fieldset class="mb-2">
                                        <h6 class="text-right font-weight-bold">ویژگی های قطعه</h6>
                                        <button type="button" class="btn btn-info rounded-circle" data-toggle="tooltip" data-placement="bottom" title="افزودن ویژگی"
                                                id="add_spec_input" style="width:50px ;height: 50px;">
                                            <i class="material-icons align-middle">add</i>
                                        </button>
                                    </fieldset>
                                </div>
                                <div class="form-row addAttrib">
                                    <div class="col-md-6 col-sm-12 mb-4">
                                        <label for="Attribute_name">عنوان ویژگی</label>
                                        <input type="text" class="form-control" id="Attribute_name" name="attribNames" required>
                                    </div>
                                    <div class="col-md-6 col-sm-12 mb-4">
                                        <label for="Attribute_value">مقدار ویژگی</label>
                                        <input type="text" class="form-control" id="Attribute_value" name="attribValues" required>
                                    </div>
                                </div>

                                <div class="row my-4">
                                    <button class="btn btn-info btn-block btn-lg" type="submit" name="btn_send_product" id="send_product_frm_submit">ثبت</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include ("../layouts/dashboard/footer") %>


