<%- include ("../layouts/dashboard/header") %>


<main class="pt-5">

    <% if ( sessionFlash && sessionFlash.type == 'editErrorMsg') { %>
        <script type="text/javascript">
            jQuery(document).ready(function () {
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "md-toast-bottom-left",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": 300,
                    "hideDuration": 1000,
                    "timeOut": 5000,
                    "extendedTimeOut": 1000,
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };
                toastr.error(editErrorMsg);
            });
        </script>
    <% } %>
    <% if ( sessionFlash && sessionFlash.type == 'editSuccessMsg') { %>
        <script type="text/javascript">
            jQuery(document).ready(function () {
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "md-toast-bottom-left",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": 300,
                    "hideDuration": 1000,
                    "timeOut": 5000,
                    "extendedTimeOut": 1000,
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };
                toastr.info(editSuccessMsg);
            });
        </script>
    <% } %>

    <div class="container w-100">
        <div class="row my-5">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="products_list_table">
                            <div class="title">
                                <h5>جدول لیست محصولات</h5>
                            </div>
                            <form action="" method="get" id="search_products">
                                <div class="form-row col-12">
                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                        <div class="md-form" style="position: relative;">
                                            <input type="text" class="form-control" placeholder="جستجو..." id="search_query_input">
                                            <button type="submit" name="" id="search_query_submit">
                                                <i class="material-icons align-middle text-primary">search</i>
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </form>
                            <div class="table_container">
                                <div class="table-responsive">
                                    <table class="table table-hover table-bordered" id="productsTable">
                                        <!--<caption>List of users</caption>-->
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">شماره قطعه</th>
                                            <th scope="col">توضیحات قطعه</th>
                                            <th scope="col">توصیف همراه با جزئیات</th>
                                            <th scope="col">عملیات</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <% let counter=0 %>
                                        <% products.forEach( product => { %>
                                            <% counter++ %>
                                            <tr>
                                                <th scope="row"><%= counter %></th>
                                                <td><%= product.partnumber %></td>
                                                <td><%= product.description %></td>
                                                <td><%= product.detaileddescription == '' ? '---' : product.detaileddescription %></td>
                                                <td class="tbl_ops">
                                                    <a href="/products/edit/<%= product.id %>"><i class="material-icons align-middle mx-1 text-info">edit</i></a>
                                                    <!--<a href="/products/delete/<%= product.id %>">-->
                                                    <!--<i class="material-icons align-middle mx-1 text-danger">delete_forever</i>-->
                                                    <!--</a>-->
                                                    <a href="#" class="delete_product" data-id="<%= product.id %>">
                                                        <i class="material-icons align-middle mx-1 text-danger">delete_forever</i>
                                                    </a>
                                                </td>
                                            </tr>
                                        <% }) %>
                                        </tbody>
                                    </table>

                                    <% if (pageCount > 1) { %>
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination pg-blue">
                                                <% if (currentPage !== 1){ %>
                                                    <li class="page-item ">
                                                        <a href="<%= paginate.href(true) %>" class="page-link" tabindex="-1">صفحه قبل</a>
                                                    </li>
                                                <% } %>
                                                <% if (pages){ %>
                                                    <% pages.forEach( page => { %>
                                                        <li class="page-item <%= currentPage === page.number && 'active' %>">
                                                            <a href="<%= page.url %>" class="page-link"><%= page.number %></a>
                                                        </li>
                                                    <% }) %>
                                                <% } %>
                                                <% if (currentPage !== pageCount){ %>
                                                    <li class="page-item ">
                                                        <a href="<%= paginate.href() %>" class="page-link" tabindex="-1">صفحه بعد</a>
                                                    </li>
                                                <% } %>
                                            </ul>
                                        </nav>
                                    <% } %>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<%- include ("../layouts/dashboard/footer") %>


