<%- include ("../layouts/dashboard/header") %>


<main class="pt-5">

    <% if ( sessionFlash && sessionFlash.type == 'editErrorMsg') { %>
        <script type="text/javascript">
            jQuery(document).ready(function () {
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "md-toast-bottom-left",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": 300,
                    "hideDuration": 1000,
                    "timeOut": 5000,
                    "extendedTimeOut": 1000,
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };
                toastr.error(editErrorMsg);
            });
        </script>
    <% } %>
    <% if ( sessionFlash && sessionFlash.type == 'editSuccessMsg') { %>
        <script type="text/javascript">
            jQuery(document).ready(function () {
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "md-toast-bottom-left",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": 300,
                    "hideDuration": 1000,
                    "timeOut": 5000,
                    "extendedTimeOut": 1000,
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };
                toastr.info(editSuccessMsg);
            });
        </script>
    <% } %>

    <div class="container w-100">
        <div class="row my-5">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="products_list_table">
                            <div class="title">
                                <h5>جدول لیست محصولات</h5>
                            </div>
                            <div class="table_container">
                                <table class="table table-responsive">
                                    <!--<caption>List of users</caption>-->
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">شماره قطعه</th>
                                        <th scope="col">توضیحات قطعه</th>
                                        <th scope="col">توصیف همراه با جزئیات</th>
                                        <th scope="col">عملیات</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <% let counter=0 %>
                                        <% products.forEach( product => { %>
                                            <% counter++ %>
                                            <tr>
                                                <th scope="row"><%= counter %></th>
                                                <td><%= product.partnumber %></td>
                                                <td><%= product.description %></td>
                                                <td><%= product.detaileddescription == '' ? '---' : product.detaileddescription %></td>
                                                <td class="tbl_ops">
                                                    <a href="/products/edit/<%= product.id %>"><i class="material-icons align-middle mx-1 text-info">edit</i></a>
                                                    <!--<a href="/products/delete/<%= product.id %>">-->
                                                        <!--<i class="material-icons align-middle mx-1 text-danger">delete_forever</i>-->
                                                    <!--</a>-->
                                                    <a href="#" class="delete_product" data-id="<%= product.id %>">
                                                        <i class="material-icons align-middle mx-1 text-danger">delete_forever</i>
                                                    </a>
                                                </td>
                                            </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<%- include ("../layouts/dashboard/footer") %>


